*{
    font-family: helvetica;
    /* font-family: 'Source Sans Pro'; */
    font-weight: 600;
    margin: 0;
    
}

.container{
    width: 390px;
}

.backdrop{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
    /* background-color: #222; */
    
}
.content{
    width: 390px;
}

.profileHeading{
    position: sticky;
    /* height: 100%; */
    top: 0;
    background: rgb(9,29,150);
    background: linear-gradient(187deg, rgba(9,29,150,1) 0%, rgba(26,117,255,1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 126.594px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 14;
    margin-bottom: 0;
}

.userDetails{
    background-color: rgb(255, 255, 255);
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
    margin-top: -75px;
}



.profByjLogo{
    margin-left: -70%;
    width: 20%;
}

.logoItselfFour{
    object-fit: cover;
    max-width: 100%;
}


.profilePicture {
    width: 100px;
    border-radius: 50%;
    border: 2px solid gray;
    object-fit: cover;
    height: 100px;
}


.followers, .names{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}