*{
    font-family: helvetica;
    /* font-family: 'Source Sans Pro'; */
    font-weight: 600;
    margin: 0;
}

.backdrop{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
    /* background-color: #222; */
    
}

.heading{
    background: rgb(9,29,150);
    background: linear-gradient(7deg, rgba(9,29,150,1) 0%, rgba(26,117,255,1) 100%);
}

.logoDiv{
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.logoItself{
    margin-top: 0vh;
    padding: 0px;
    max-width: 195px;
    max-height: 130px;
}

