*{
    font-family: helvetica;
    /* font-family: 'Source Sans Pro'; */
    font-weight: 600;
    margin: 0;
}

.backdrop{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
    /* background-color: #222; */
    
}

.heading{
    background: rgb(9,29,150);
    background: linear-gradient(7deg, rgba(9,29,150,1) 0%, rgba(26,117,255,1) 100%);
}

.stackInButton{
    position: relative;
}

.logoNewProduct{
    margin-top: -90px;
    margin-right: 200px;
}

.photoCameraStack{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    font-size: 12px;
}

.logoDiv{
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color: #fff; */
    overflow: hidden;
}

.logoItself{
    margin-top: 0vh;
    padding: 0px;
    max-width: 195px;
    max-height: 50px;
}

.imagesToUpload{
    overflow: auto;
} 

.prodImg{
    object-fit: cover;
    max-height: 110px;
    max-width: 100px;
    margin-right: 5px;
    border-radius: 10px;
}

.prodImg:last-child{
    margin-right: none;
}