.backDrop{
    border-radius: 10px;
    background-color: #fff;
}

.warning-icon{
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
}

.textBody{
    color: black;
    font-family: helvetica;
    font-weight: 600;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
    background-color: rgba(0,0,0,0.1)
}