*{
    font-family: helvetica;
    /* font-family: 'Source Sans Pro'; */
    font-weight: 600;
    margin: 0;
    
}

.container{
    width: 390px;
}

.backdrop{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
    /* background-color: #222; */
    
}
.content{
    width: 390px;
    height: 100%;
}

.profileHeading{
    position: relative;
    background: rgb(9,29,150);
    background: linear-gradient(187deg, rgba(9,29,150,1) 0%, rgba(26,117,255,1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1;
    margin-bottom: 0;
}

.userDetails{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 90%;
    /* height: 150px; */
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-top: -75px;
}

.profilePicture__container {
    /* width: 50%; */
}

.profByjLogo{
    margin-left: -70%;
    width: 20%;
}

.logoItselfFour{
    object-fit: contain;
    max-width: 100%;
}


.profilePicture {
    width: 100px;
    border-radius: 50%;
    border: 2px solid gray;
    object-fit: cover;
    height: 100px;
}

.userDeets{
    /* display: inline-block;
    width: 150px; */
    
}
.followers, .names{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}